<h1><%= @article.title %>

<%= link_to "ðŸ–", edit_article_path(@article) %>

<%= link_to "ðŸ—‘", article_path(@article), data: {turbo_method: :delete,
turbo_confirm: 'Are Your sure?' }  %>
</h1>

<p> <%= @article.content %></p>
